/* my body margin & padding css is frustrating me a little, I will fix it when a put it back on the shelf for a later project */

body {
    margin: 0;
    padding: 0;
    background-color:rgba(9, 8, 9, 0.89);
    color: white;
}

a {
    text-decoration: none;
    color: rgb(191, 25, 25);
}

a:hover  {
    text-decoration: line-through;
    color: #9f4a5c;
}


h2 {
  text-indent: 65px;
  text-align: justify;
  letter-spacing: 2px;
}

h3 {
    text-indent: 150px;
    text-align: justify;
    letter-spacing: 2px;
  }









